.archive {
  display: none;
  padding: 20px 0;
  font: 400 18px/24px "Inter Regular";
  color: #403F3D;
  video {
    display: block;
    max-width: 1300px;
    max-width: 90%;
    max-height: 90vh;
    margin: 20px auto 0;
    cursor: pointer;
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
  h4, p {
    width: 90%;
    margin: 20px auto 10px;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}

.archive.active {
  display: block
}

h4 {
  margin: 20px 0 10px;
  font: 600 20px/24px 'Inter Semibold';
  color: #403F3D;
}