.contacts {
  padding: 20px 0;
  background-color: #F6F6F6;
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  margin: 30px 0;
  a {
    display: block;
    width: fit-content;
    @media (hover: hover) {
      &:hover .contacts__item::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  @media (max-width: 946px) {
    gap: 0;
    justify-content: space-between;
  }
  @media (max-width: 724px) {
    gap: 30px;
    flex-direction: column;;
  }
}

iframe {
  @media (max-width: 724px) {
    width: 100%;
  }
}

.contacts__phone {
  display: flex;
  align-items: center;
  gap: 7px;
  img {
    border-radius: 4px;
  }
}

.contacts__item {
  position: relative;
  padding: 20px 0 20px 55px;
  margin: 0;
  font: 600 16px/24px 'Inter SemiBold';
  color: #403F3D;
  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 32px;
    left: 0px;
    top: 15px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: calc(100% - 55px);
    opacity: 0;
    transform: scale(0);
    background-color: #403F3D;
    transition: transform 0.5s, opacity 0.5s;
  }
}

.phone::before {
  background-image: url(../assets/icons/icon-phone.svg);
}

.mail::before {
  background-image: url(../assets/icons/icon-email.svg);
}

.address::before {
  width: 22px;
  left: 10px;
  background-image: url(../assets/icons/icon-marker.svg);
}
