.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: rgba(64, 63, 61, 0.8);
}

.modal.show {
  display: flex;
}

.modal__wrapper {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  padding: 30px 40px;
  overflow-y: auto;
  //border-top-left-radius: 20px;
  //border-bottom-left-radius: 20px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
  background-color: #F6F6F6;
  font: 400 16px/24px 'Inter Regular';
  text-align: justify;
  img {
    float: left;
    margin-right: 20px;
  }
}